<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Portal</h1>
    <br>
    <br>

    <div class="container">
        <div class="row align-items-start">
            <span class= "col">
                <a href = "/register"><img src="/static/register.png">
                <h3>Register</h3> </a>
            </div>
            <span class = "col">
                <a href="/view_atd"><img src="/static/attendance.webp">
                <h3>View Attendance</h3></a>
            </div>
        </div>
    </div>

</body>
</html>