<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <video id="video" width="640" height="480" autoplay></video> -->
    <!-- <canvas id="canvas" width="640" height="480"></canvas> -->
    <div id="new">

    </div>
</body>
<script>

    // var video = document.getElementById('video');
    // if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    //     navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
    //         //video.src = window.URL.createObjectURL(stream);
    //         video.srcObject = stream;
    //         video.play();
    //     });
    // }

    // var canvas = document.getElementById('canvas');
    // var context = canvas.getContext('2d');
    // var video = document.getElementById('video');


    var tag = document.createElement('a');
    tag.setAttribute('href', "/emp_login");
    tag.innerText = "Unable to login through biometrics? Click here"
    // var text = document.createTextNode("Unable to login through biometrics? Click here");
    // tag.appendChild(text);
    var element = document.getElementById("new");

    setTimeout(function(){
        // <video id="video" width="640" height="480" autoplay></video>
        // <button id="snap">Snap Photo</button>
        // <canvas id="canvas" width="640" height="480"></canvas>
        // <a href='/login'>Unable to login through biometrics? Click here </a>");
        element.appendChild(tag);
    }, 0);
</script>
</html>