<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.rtl.min.css" integrity="sha384-4dNpRvNX0c/TdYEbYup8qbjvjaMrgUPh+g4I03CnNtANuv+VAvPL6LqdwzZKV38G" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheet/landing.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unisys Project</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class=" navbar-collapse" id="myNavbar">
        <ul class="nav navbar-right navbar-right">
            <li><a id="len1" class="hoverable" href="/flogin"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Login</a></li>
            <li><a id="len2" class="hoverable" href="/about">Contact</a></li>
        </ul>
    </div>
    </nav>

    <div id="heading">  
        UNISYS  
    </div>
    <div id="txt">
        Unisys Corporation is an American global information technology company based in Blue Bell, Pennsylvania, that provides IT services, software, and technology
    </div>
</body>
</html>