<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        margin: 25px;
      }

      #main {
        position: relative;
        margin: 50px 0;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }

      #description {
        margin-top: 20px;
        width: 600px;
      }

      #description-title {
        font-weight: bold;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <video
        id="video"
        playsinline
        style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          width: auto;
          height: auto;
        "
      ></video>
      <canvas id="output"></canvas>
      <video
        id="video"
        playsinline
        style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility: hidden;
          width: auto;
          height: auto;
        "
      ></video>
      <form
        id="myAwesomeForm"
        method="post"
        hidden
        enctype="multipart/form-data"
      >
        <input type="text" id="filename" name="filename" />
        <!-- Filename -->
      </form>
      <canvas id="canvas" hidden></canvas>
    </div>
    <h3 id="live">Liveness: </h3><br>
    <h3 id="recon">Recognized and attendance marked: </h3><br>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
    <!-- <script src="https://unpkg.com/mathjs/lib/browser/math.js"></script>
    <script
      async
      src="/static/js/opencv.js"
      onload="openCvReady();"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script> -->
    <script type="text/javascript" src="../static/js/loginnew.js"></script>
  </body>
</html>
